* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#0f6594;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
	text-align: center;
    align-items: center;
}


.content_text {
	font-weight:bold;
	font-size:5em;
	color:#1d8fcc;
}
